/* Dropdown.module.css */
.dropdownContainer {
  position: relative;
  display: inline-block;
}

.triggerButton {
  position: relative;
  color: var(--text);
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.triggerButton:hover {
  background-color: var(--background-over-container-hover) !important;
}

.dropdownMenu {
  position: absolute;
  background: var(--background-container);
  border-radius: 10px;
  border: 1px solid var(--border-container-color);
  box-shadow:
    0 4px 12px #0c144205,
    0 30px 80px #0c144214,
    inset 0 0 #e6e9ed;
  z-index: 1000;
  overflow: hidden;
  width: 150px;
  max-height: 222px;
  scrollbar-width: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.items {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.items::-webkit-scrollbar {
  display: none;
}

.dropdownItem {
  width: 100%;
  padding: 5px 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
  border-radius: 5px;
}

.dropdownItem:hover {
  background-color: var(--background-over-container);
}
