.triggerButton {
  position: relative;
  color: var(--text);
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--custom-bg, var(--background-over-container));
}

.triggerButton:hover,
.triggerButton[data-state="open"] {
  background-color: var(
    --custom-hover,
    var(--background-over-container-hover)
  ) !important;
}

.dropdownMenu {
  position: absolute;
  background-color: var(--background-container-translucent);
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  border-radius: 20px;
  border: 1px solid var(--border-container-color);
  box-shadow:
    0 4px 12px #0c144205,
    0 30px 80px #0c144214,
    inset 0 0 #e6e9ed;
  z-index: 1000;
  overflow: hidden;
  width: fit-content;
  max-width: 200px;
  /* max-height: 222px; */
  scrollbar-width: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.items {
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 5px;
}

.items::-webkit-scrollbar {
  display: none;
}

.dropdownItem {
  width: 100%;
  padding: 5px 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text);
  font-weight: 400;
}

.dropdownItem[data-active="true"] {
  color: var(--alino-secondary-color) !important;
  font-weight: 600;
}

.dropdownItem:hover {
  background-color: var(--background-over-container);
}
