.alinoAppLayoutContainer {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: var(--background-alino-app);
  padding-top: calc(env(safe-area-inset-top, 0px) + 15px);
  padding-right: calc(env(safe-area-inset-right, 0px) + 15px);
  padding-bottom: max(env(safe-area-inset-bottom, 0px), 15px);
  padding-left: calc(env(safe-area-inset-left, 0px) + 15px);
  overflow: hidden;
  touch-action: none;
}

.appContentContainer {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.sidebarRight {
  flex-direction: row-reverse;
}

.topButtons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  z-index: 90;
}

.sidebarRight .topButtons {
  right: auto;
  left: 0;
}
