.app {
  height: 100svh;
  position: relative;
  background-color: var(--background-alino-app);
  width: 100vw;
  padding: 15px;
  overflow: hidden;
  touch-action: none;
}

.appContainer {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
}

@media all and (display-mode: standalone) {
  .app {
    height: 100vh;
    padding: calc(env(safe-area-inset-top) + 15px) 15px
      calc(env(safe-area-inset-bottom) + 15px) 15px;
  }
}
