.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  /* padding: 25px 0; */
  padding-top: 20px;
  padding-bottom: 10px;
}

.textsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
}

.subtitle {
  color: var(--text);
}
