.initialUserConfigurationContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.textsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 300;
  font-size: 14.5px;
  text-align: center;
  line-height: 1.5;
}

.subtitle {
  color: var(--text);
  margin: 0;
}

.celebrationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  user-select: none;
}

.initialText {
  color: var(--text);
  font-size: 40px;
  font-weight: 900;
  z-index: 1;
  user-select: none;
  text-align: center;
  letter-spacing: -0.5px;
  pointer-events: auto;
}
