.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  user-select: none;
  z-index: 1000;
}

.tooltip {
  position: absolute;
  width: fit-content;
  width: 400px;
  height: fit-content;
  height: fit-content;
  bottom: 10%;
  background-color: var(--background-container);
  border: 1px solid var(--border-container-color);
  padding: 20px 30px 20px 30px;
  border-radius: 20px;
}

.tooltipHeader {
  font-size: 14px;
  position: absolute;
  top: -20px;
  left: 10px;
  background-color: var(--background-container);
  border: 1px solid var(--border-container-color);
  padding: 5px 15px;
  border-radius: 10px;
  color: var(--text);
  box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2);
}

.text {
  color: var(--text);
  font-size: 16px;
}
