.container {
  /* ex subjectsCardsContainer*/
  position: relative;
  overflow: hidden;
  background-color: rgb(250, 250, 250);
  border-radius: 15px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 40px 0px 10px;
  gap: 10px;
  transition:
    background-color 0.2s ease-in-out,
    scale 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cardFx {
  width: 200px;
  height: 200px;
  position: absolute;
  left: -200px;
  opacity: 0.1;
  transition: box-shadow 0.2s ease-in-out;
  z-index: 0;
}

.identifierContainer {
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listName {
  /* ex subjectName */
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nameChangerContainer {
  display: flex;
}

.nameChangerInput {
  width: 100%;
  border: none;
  color: #1c1c1c;
  outline: none;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: transparent;
}

.button {
  position: absolute;
  right: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  position: absolute;
  right: 10px;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  color: rgb(210, 210, 210);
  font-size: 12px;
}

.checkButton {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 10px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}
