.inputContainer {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 10px;
  position: relative;
}

.deco {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px;
  color: var(--placeholder-text-color);
}

.input {
  flex-grow: 1;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 12px 15px;
  font-size: 14px;
  color: var(--text);
  outline: none;
  border: 1px solid var(--border-container-color);
  background-color: var(--background-over-container);
  border-radius: 10px;
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.input:focus-within {
  background-color: var(--background-over-container-hover);
}

.input::placeholder {
  color: var(--placeholder-text-color);
}

.button {
  border: none;
  /* background-color: var(--background-over-container); */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding-right: 5px;
}

/* .button:hover {
  background-color: var(--background-over-container-hover);
} */

.button:disabled {
  opacity: 0.7;
}

@media only screen and (max-width: 850px) {
  .input {
    padding: 12px 10px;
    font-size: 12px;
  }
  .deco {
    font-size: 12px;
  }
}
