.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}

.section1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 600px;
  height: fit-content;
  top: 0px;
  padding-top: 40px;
  z-index: 10;
}

.section1::before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  height: calc(100% + 20px);
  width: calc(100% + 40px);
  mask-image: linear-gradient(rgb(0, 0, 0) 85%, transparent);
  backdrop-filter: blur(10px);
  z-index: 25;
  background-color: var(--background-alino-app-translucent);
}

.header {
  position: relative;
  width: 100%;
  z-index: 26;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ///////HOME////// */

.homeContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 75px;
}

.homeSubContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  gap: 5px;
}

.homeTitle {
  position: relative;
  font-size: 30px;
  font-weight: 900;
  background: -webkit-linear-gradient(
    45deg,
    rgb(173, 243, 255) 0%,
    rgb(106, 195, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: inline-block;
  width: fit-content;
  user-select: none;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.homeTimeContainer {
  font-size: 14px;
  color: var(--text-not-available);
  user-select: none;
  text-align: start;
}

/* //////////////// */
.configSection {
  width: 50px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.listContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 5px;
  height: 75px;
}

.titleSection {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  max-width: 450px;
  height: 30px;
}

.listTitle {
  color: var(--text);
  font-size: 20px;
  font-weight: 600;
}

.listSubtitle {
  font-size: 14px;
  color: var(--text-not-available);
  user-select: none;
  text-align: start;
  padding-left: 5px;
}

.inputSection {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 25;
}

.section2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 600px;
  padding-top: 20px;
}

.tasksSection {
  width: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  height: 100%;
  scrollbar-width: none;
  display: flex;
  justify-content: center;
  align-items: start;
  /* padding-top: 180px; */
}

.tasksSection::-webkit-scrollbar {
  display: none;
}

.tasks {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
}

@media only screen and (max-width: 850px) {
  .section1 {
    padding-top: 80px;
  }
}
