.subjectsCardsContainer {
  position: relative;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 40px 0px 10px;
  gap: 10px;
  transition:
    background-color 0.2s ease-in-out,
    scale 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.subjectName {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.button {
  position: absolute;
  right: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}
.counter {
  position: absolute;
  right: 10px;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  color: rgb(210, 210, 210);
  font-size: 12px;
}
