.subjectsCardsContainer {
  position: relative;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 10px 0px 10px;
  gap: 10px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.subjectName {
  font-size: 14px;
}
