.inputs {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}

.title {
  color: #1c1c1c;
  font-size: 30px;
}

.paraph {
  color: #1c1c1c;
  font-size: 18px;
}

.inputDiv {
  position: relative;
  width: 100%;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  position: relative;
  width: 100%;
  height: 50px;
  border: none;
  background-color: rgb(230, 230, 230);
  border-radius: 15px;
  padding-left: 20px;
  font-weight: 500;
}

.input:focus {
  outline: none;
}

.buttom {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  background-color: #87189d;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.moreInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.textButton {
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 15px;
}

.textButton:hover {
  color: #87189d;
}

.errorMsg {
  color: red;
  font-size: 14px;
  width: fit-content;
  padding-left: 20px;
  z-index: 10;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.LoginOauth {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.oauthButtonContainer {
  width: 100%;
  display: flex;
  gap: 15px;
}
