.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.content {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 35px 35px 35px;
  border-radius: 40px 40px 0 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(10px) saturate(200%);
  border: 1px solid rgb(240, 240, 240);
  touch-action: none;
}

.handle {
  background-color: rgba(0, 0, 0, 0.12) !important;
  width: 35% !important;
  height: 5px !important;
  border-radius: 3px !important;
}

.iconSection {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.alinoIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  z-index: -1;
  background: conic-gradient(
    from 0deg,
    #ffb6c1,
    #ffc3a0,
    #ffde91,
    #e1f0b0,
    #a4f1ce,
    #a4dbf1,
    #b3b5f1,
    #e2a5ff,
    #ffb6c1
  );
  filter: blur(15px);
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttonSection {
  width: 100%;
}
