.mobileButton {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15px;
  left: 15px;
  z-index: 100;
  border: none;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 25vw;
  min-width: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 25px; */
  z-index: 100;
}

.navbar {
  position: relative;
  width: 100%;
  max-width: 1366px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 35px 0px 35px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  box-shadow:
    rgba(12, 20, 66, 0.02) 0px 4px 12px,
    rgba(12, 20, 66, 0.08) 0px 30px 80px,
    rgb(230, 233, 237) 0px 0px 0px 0px inset;
}

/* .navbar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 75px;
  background: rgba(255, 255, 255, 0.1);
  top: 0px;
  overflow: hidden;
  z-index: 100;
  mask-image: linear-gradient(rgb(0, 0, 0) 80%, transparent);
  backdrop-filter: blur(10px);
  border-radius: 20px;
} */

.navbar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  top: 55px;
  overflow: hidden;
  z-index: 100;
  background: linear-gradient(rgb(255, 255, 255) 50%, transparent);
}
.navbar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 80px;
  overflow: hidden;
  z-index: 100;
  background: linear-gradient(transparent, rgb(255, 255, 255) 50%);
}

.logoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.cardsSection {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: visible;
  overflow-y: auto;
  padding: 30px 30px 30px 30px;
}

.cardsSection::-webkit-scrollbar {
  display: none;
}

.cardsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: fit-content;
}

.inputContainer {
  position: relative;
  padding: 0 30px;
}

@media only screen and (max-width: 850px) {
  .container {
    position: absolute;
    width: 75%;
    min-width: inherit;
    height: calc(100% - 30px);
    left: -100%;
    transition: left 0.2s ease-in-out;
    padding: 0px 0 0px 15px;
  }
  .active {
    left: initial;
  }
  .cardsSection {
    padding: 30px 15px 15px 15px;
  }
  .inputContainer {
    padding: 0 15px;
  }
}
