.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  height: fit-content;
  margin: 0 120px 0 120px;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  height: fit-content;
  width: 80%;
  margin: 7vw 0 7vw 0;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.text h1 {
  font-size: clamp(30px, 10vw, 60px);
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
  background: -webkit-linear-gradient(
    135deg,
    rgb(220, 220, 220) 20%,
    rgb(135, 24, 157) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text p {
  font-weight: 600;
  font-size: clamp(18px, 3vw, 22px);
  color: #747474;
}

@media only screen and (max-width: 850px) {
  .content {
    flex-direction: column-reverse;
    margin: 0 20px 0 20px;
  }

  .section {
    width: 100%;
    height: fit-content;
    padding: 100px 0;
  }

  .image {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }
}
