.fit {
  position: relative;
  display: flex;
  height: fit-content;
  width: fit-content;
}

.mainButton {
  width: 23px;
  height: 23px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: scale 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  transition: background-color 0.3s ease-in-out;
}

.mainButton:hover {
  background-color: rgb(240, 240, 240) !important;
}

.container {
  right: -150px;
  position: absolute;
  background-color: #fff;
  border: 1px solid rgb(240, 240, 240);
  min-width: 150px;
  width: fit-content;
  /* height: fit-content; */
  min-height: fit-content;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  z-index: 100;
  box-shadow:
    rgba(12, 20, 66, 0.02) 0px 4px 12px,
    rgba(12, 20, 66, 0.08) 0px 30px 80px,
    rgb(230, 233, 237) 0px 0px 0px 0px inset;
}

.titleSection {
  color: rgb(200, 200, 200);
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgb(240, 240, 240);
}

.optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
