.tilesBox {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
  overflow: hidden;
  padding: 5px 20px;
}

.tilesContainer,
.tilesContainerLeft {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.tilesContainer {
  justify-content: center;
  flex-direction: column;
}

.tilesContainerLeft {
  justify-content: space-between;
  flex-direction: row;
}

.textSection,
.textSectionLeft {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textSection {
  align-items: center;
  text-align: center;
}

.textSectionLeft {
  align-items: start;
  width: 100%;
}

.textSection h2,
.textSectionLeft h2 {
  font-size: 22px;
}

.textSection p,
.textSectionLeft p {
  font-size: 16px;
}

.tilesImg,
.tilesImgLeft {
  object-fit: contain;
}

.tilesImg {
  height: 70%;
  min-width: 300px;
}

.tilesImgLeft {
  width: 40%;
  min-width: 150px;
}

@media only screen and (max-width: 900px) {
  .tilesContainer {
    height: 135px;
    flex-direction: row;
    gap: 10px;
  }

  .textSection {
    align-items: start;
    width: 100%;
    font-size: 10px;
    text-align: left;
  }

  .tilesImg {
    height: 100%;
    min-width: initial;
    width: fit-content;
  }

  .tilesImgLeft {
    height: 100%;
    min-width: 130px;
  }
}

@media only screen and (max-width: 700px) {
  .textSection h2,
  .textSectionLeft h2 {
    font-size: 16px;
  }

  .textSection p,
  .textSectionLeft p {
    font-size: 14px;
  }
}
