.subjectAddCardSkeletonContainer {
  position: relative;
  background-color: rgb(240, 240, 240);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subjectAddCardSkeleton {
  width: 100px;
  height: 100%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  filter: blur(30px);
  animation: skeleton 1.5s ease-in-out infinite;
}
@keyframes skeleton {
  0% {
    left: -200px;
  }
  100% {
    left: 400px;
  }
}
