.allContainer {
  width: 100%;
}

.container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 10px;
  gap: 7px;
  transition: background-color 0.3s ease-in-out;
  content-visibility: auto;
  contain-intrinsic-size: auto 45px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  background-color: var(--background-container);
}

.containerDrag {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  transition: background-color 0.3s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  background-color: var(--background-card-dragged);
  pointer-events: auto;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  z-index: 99;
  padding: 7px 10px;
  left: 0;
}

.cardFx {
  width: 200px;
  height: 200px;
  position: absolute;
  left: -200px;
  box-shadow: initial;
  transition: opacity 0.3s ease-in-out;
  z-index: 0;
  opacity: 0;
  box-shadow: var(--color) 100px 50px 50px;
}

.cardFxActive {
  opacity: 0.1;
}

@media only screen and (min-width: 851px) {
  .container:hover {
    background-color: var(--background-over-container) !important;
  }

  .container:hover .cardFx {
    opacity: 0.1 !important;
  }
}

.colorPickerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3px;
  height: 100%;
  min-width: 16px;
}

.emojiContainer {
  width: 16px;
  height: 16px;
}

.squircleIcon {
  width: 12px;
  fill: var(--color);
  transition: fill 0.2s ease-in-out;
}

.colaborateIcon {
  width: 100%;
  height: auto;
  stroke: var(--icon-color);
  stroke-width: 2;
  opacity: 0.4;
}

.pinIcon {
  width: 100%;
  height: auto;
  stroke: var(--icon-color);
  stroke-width: 2;
  opacity: 0.4;
}

.moreVerticalIcon {
  width: 20px;
  height: auto;
  stroke: var(--icon-color);
  stroke-width: 3;
  opacity: 0.4;
}

.textContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.listName {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--text);
}

.nameChangerInput {
  width: 100%;
  height: 100%;
  border: none;
  color: var(--text);
  outline: none;
  background-color: transparent;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: var(--background-over-container);
  border-radius: 10px;
  padding-left: 5px;
}

.listManagerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  height: 100%;
}

.pinContainer {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkButton {
  position: relative;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2px;
}

.configsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
}

.configsContainerMobile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.configButtonContainer,
.configButtonContainerDesktop {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container:hover .configButtonContainerDesktop {
  opacity: 1 !important;
}

.counter,
.counterDesktop {
  transition: opacity 0.2s ease-in-out;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-not-available);
  font-size: 12px;
  background-color: var(--background-over-container);
  border-radius: 7px;
}

.moreOptions {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-over-container);
  border-radius: 5px;
}

.container:hover .counterDesktop {
  opacity: 0 !important;
}

.Desktop {
  position: absolute;
}

.Mobile {
  position: relative;
}

.iconStyle {
  width: 14px;
  height: auto;
  stroke: var(--text);
  stroke-width: 2;
}

/* @media only screen and (max-width: 850px) {
  .container:hover {
    background-color: transparent;
  }

  .container:hover .cardFx {
    opacity: 0 !important;
  }
} */
