.container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 10px 7px 10px;
  gap: 5px;
  transition: background-color 0.3s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.containerDrag {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 10px 7px 10px;
  gap: 5px;
  transition: background-color 0.3s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cardFx {
  width: 200px;
  height: 200px;
  position: absolute;
  left: -200px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 0;
}

@media only screen and (min-width: 851px) {
  .container:hover {
    background-color: var(--background-over-container) !important;
  }

  .container:hover .cardFx {
    opacity: 0.05 !important;
  }
}

.colorPickerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3px;
  height: 100%;
}

.textContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.listName {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--text);
}

.nameChangerInput {
  width: 100%;
  height: 100%;
  border: none;
  color: var(--text);
  outline: none;
  background-color: transparent;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: var(--background-over-container);
  border-radius: 10px;
  padding-left: 5px;
}

.listManagerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  height: 100%;
}

.pinContainer {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkButton {
  position: relative;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2px;
}

.configsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
}

.configButtonContainer,
.configButtonContainerDesktop {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container:hover .configButtonContainerDesktop {
  opacity: 1 !important;
}

.counter,
.counterDesktop {
  transition: opacity 0.2s ease-in-out;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-not-available);
  font-size: 12px;
  background-color: var(--background-over-container);
  border-radius: 5px;
}

.container:hover .counterDesktop {
  opacity: 0 !important;
}

.Desktop {
  position: absolute;
}

.Mobile {
  position: relative;
}

/* @media only screen and (max-width: 850px) {
  .container:hover {
    background-color: transparent;
  }

  .container:hover .cardFx {
    opacity: 0 !important;
  }
} */
