:root {
  --background-alino-app: rgb(240, 240, 240);
  --background-container: rgb(255, 255, 255);
  --text: #1c1c1c;
}

/* Variables para tema oscuro */
[data-theme="dark"] {
  --background-alino-app: rgb(30, 30, 30);
  --background-container: rgb(50, 50, 50);
  --text: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

html,
body {
  background-color: var(--background-alino-app);
  position: relative;
  max-width: 100vw;
  height: 100%;
  font-family: var(--font-inter), sans-serif;
  /* background-color: #f0f0f0; */
  perspective: 1000px;
  overflow: hidden !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media all and (display-mode: standalone) {
  html,
  body {
    height: 100vh;
  }
}
