.container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 7px 10px 7px 15px;
  gap: 5px;
  transition: background-color 0.3s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cardFx {
  width: 200px;
  height: 200px;
  position: absolute;
  left: -200px;
  opacity: 0.1;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 0;
}

.container:hover {
  background-color: var(--background-over-container) !important;
}

.container:hover .cardFx {
  box-shadow: rgb(106, 195, 255) 100px 50px 50px !important;
}

.colorPickerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3px;
  height: 100%;
}

.textContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}

.listName {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 500;
}

.listManagerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  height: 100%;
}

.configsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  background-color: var(--background-over-container);
  border-radius: 5px;
}

.counter {
  transition: opacity 0.2s ease-in-out;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-not-available);
  font-size: 12px;
}

.Desktop {
  position: absolute;
}

.Mobile {
  position: relative;
}
