.contentContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
}
.maxWidthContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: fit-content;
  width: 100%;
  max-width: 1366px;
  margin: 0px 120px 100px 120px;
}
.leftGrid {
  width: 100%;
  height: 500px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.leftGridRow {
  background-color: rgb(250, 250, 250);
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.rightGrid {
  width: 100%;
  height: 500px;
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
}
@media only screen and (max-width: 700px) {
  .maxWidthContainer {
    margin: 0px 20px 100px 20px;
  }
  .maxWidthContainer {
    flex-direction: column;
  }
}
