.contentContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  margin-top: 70px;
}
.maxWidthContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: fit-content;
  width: 100%;
  max-width: 1366px;
  margin: 0px 120px 100px 120px;
  height: 500px;
}
.leftGrid {
  width: 100%;
  height: 500px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  max-width: 50%;
}
@media only screen and (max-width: 900px) {
  .maxWidthContainer {
    /* width: 90%; */
    margin: 30px 20px 100px 20px;
    height: fit-content;
  }
  .maxWidthContainer {
    flex-direction: column;
  }
  .leftGrid {
    max-width: 100%;
    height: 300px;
  }
}
