.footerContainer {
  width: 100vw;
  height: fit-content;
  background: linear-gradient(0deg, rgb(245, 245, 245) 50%, #fff);
}
.footerContent {
  padding: 30px 120px 30px 120px;
  width: 100%;
  max-width: 1366px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 300px;
}

.footerStripeContainer {
  width: 100vw;
  height: 20px;
  background-color: rgb(28, 28, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerStripe {
  max-width: 1366px;
  width: 100vw;
  padding-left: 120px;
  padding-right: 120px;
}
.footerStripe p {
  color: #fff;
  font-size: 8px;
}
@media only screen and (max-width: 900px) {
  .footerStripe {
    padding-left: 20px;
    padding-right: 20px;
  }
}
