.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
}
.navbar {
  width: 100%;
  height: 80px;
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
.buttonsDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 500px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
}
