.fit {
  position: relative;
  display: flex;
  height: fit-content;
  width: fit-content;
}
.container {
  right: -215px;
  top: -90px;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  border: 1px solid rgb(240, 240, 240);
  max-width: 190px;
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 5px 15px 5px;
  z-index: 100;
  box-shadow:
    rgba(12, 20, 66, 0.02) 0px 4px 12px,
    rgba(12, 20, 66, 0.08) 0px 30px 80px,
    rgb(230, 233, 237) 0px 0px 0px 0px inset;
}
.titleSection {
  padding: 0px 15px 0px 15px;
}
.title {
  font-size: 12px;
  font-weight: 500;
  color: rgb(200, 200, 200);
}
.mainButton {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: scale 0.2s ease-in-out;
}
.mainButton:hover {
  scale: 1.2;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: rgb(240, 240, 240);
}
.colorSelectorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 0px 15px 0px 15px;
  gap: 15px;
}
.buttonSection {
  position: relative;
  height: 100%;
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-color: none;
  border-radius: 7px;
  background-color: transparent;
}
.customColorContainer {
  background-color: rgb(240, 240, 240);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.inputColorContainer {
  position: relative;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 25px;
  width: 25px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  opacity: 0;
}
.labelColor {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.colorInput::-webkit-color-swatch {
  border-radius: 7px;
  border: none;
  padding: 0;
  margin: 0;
}
.colorInput::-webkit-color-swatch-wrapper {
  border: none;
  padding: 0;
  margin: 0;
}
.colorInput::-moz-color-swatch-wrapper {
  border: none;
  padding: 0;
  margin: 0;
}
.colorInput::-moz-color-swatch {
  border-radius: 7px;
  border: none;
  padding: 0;
  margin: 0;
}
.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.hexContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hexCode {
  background-color: transparent;
  width: 100%;
  height: fit-content;
  border: none;
  font-size: 15px;
  outline-style: none;
  font-family: inter;
  color: #1c1c1c;
  font-weight: 500;
}
.copyButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.saveButtonContainer {
  position: relative;
  width: 100%;
  padding: 0px 15px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saveButton {
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: inter;
  font-size: 14px;
  font-weight: 500;
  color: #1c1c1c;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
