.container {
  position: relative;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeTargetContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  width: 100%;
  text-wrap: nowrap;
  border: 1px solid rgb(245, 245, 245);
  -webkit-tap-highlight-color: transparent;
}

.timeTargetContainer p {
  font-size: 12px;
}

.timeTargetContainerWarning {
  background-color: #fffbe4 !important; /* Amarillo suave */
  border: 1px solid #fff7c7;
}

.timeTargetContainerDanger {
  background-color: #ffdede !important; /* Rojo suave */
  border: 1px solid #ffd2d2;
}

.taskNotCompleted {
  opacity: 0.3;
}

.taskNotCompleted .tooltip {
  opacity: 1 !important;
}

.completed {
  width: 85%;
  height: 1px;
  position: absolute;
}

.waiting {
  background-color: transparent;
}

.notCompleted {
  background-color: #1c1c1c;
}

.tooltip {
  position: absolute;
  right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 30;
  text-wrap: nowrap;
}
