.container {
  position: relative;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeTargetContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  width: 100%;
  text-wrap: nowrap;
  /* border: 1px solid rgb(245, 245, 245); */
  stroke: #1c1c1c;
  transition:
    stroke 0.3s ease-in-out,
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.timeTargetContainer p {
  font-size: 12px;
}

.timeTargetContainerWarning {
  /* background-color: #fff8d4 !important; */
  /* border: 1px solid #fff7c7; */
  stroke: rgb(180, 112, 26);
  color: rgb(180, 112, 26);
  background-color: rgb(250, 235, 204) !important;
}

.timeTargetContainerDanger {
  /* background-color: #ffdede !important; */
  /* border: 1px solid #ffd2d2; */
  stroke: rgb(156, 30, 40);
  color: rgb(156, 30, 40);
  background-color: rgb(250, 220, 220) !important;
}

.taskNotCompleted {
  opacity: 0.3;
}

.completed {
  width: 85%;
  height: 1px;
  position: absolute;
  transition: width 0.3s ease-in-out;
}

.waiting {
  width: 0%;
  background-color: transparent;
}

.notCompleted {
  background-color: #1c1c1c;
}

.tooltip {
  position: absolute;
  right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  text-wrap: nowrap;
  opacity: 1 !important;
}
