.container {
  position: relative;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeTargetContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--background-over-container);
  border-radius: 5px;
  width: 100%;
  text-wrap: nowrap;
  stroke: var(--icon-color);
  transition:
    stroke 0.3s ease-in-out,
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.timeTargetContainer p {
  font-size: 10px;
  color: var(--text);
}

.timeTargetContainerWarning {
  stroke: rgb(224, 133, 14);
  color: rgb(224, 133, 14) !important;
  background-color: rgba(255, 170, 0, 0.15) !important;
}

.timeTargetContainerDanger {
  stroke: rgb(202, 24, 39);
  color: rgb(202, 24, 39) !important;
  background-color: rgba(255, 0, 0, 0.15) !important;
}

.taskNotCompleted {
  opacity: 0.3;
}

.completed {
  width: 85%;
  height: 1px;
  position: absolute;
  transition: width 0.3s ease-in-out;
}

.waiting {
  width: 0%;
  background-color: transparent;
}

.notCompleted {
  background-color: var(--text);
}

.tooltip {
  position: absolute;
  right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-container);
  color: var(--text);
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.1);
  text-wrap: nowrap;
  opacity: 1 !important;
  z-index: 1;
  width: fit-content;
  height: fit-content;
}

.tooltipBack {
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 0;
  background-color: var(--background-over-container);
  /* border: 1px solid var(--border-container-color); */
  opacity: 1 !important;
}

.tooltip p {
  z-index: 1;
}
