.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.main {
  position: relative;
  min-width: 300px;
  background-color: var(--background-container);
  border: 1px solid var(--border-container-color);
  border-radius: 30px;
  overflow: hidden;
  box-shadow:
    rgba(12, 20, 66, 0.02) 0px 4px 12px,
    rgba(12, 20, 66, 0.08) 0px 30px 80px,
    rgb(230, 233, 237) 0px 0px 0px 0px inset;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 10px 15px;
  gap: 20px;
  z-index: 1;
}

.headrel {
  position: relative;
}

.headabs {
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-not-available);
}

.windowCrossContainer {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.windowCrossContainer:hover .windowCrossIcon {
  stroke: var(--text) !important;
}

.windowCrossIcon {
  width: 20px;
  height: 20px;
  stroke-width: 1.5;
  stroke: var(--text-not-available) !important;
  transition: stroke 0.2s ease-in-out;
}

.windowCrossButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  -webkit-tap-highlight-color: transparent;
}

.body {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 65vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 500px) {
  .main {
    width: 100%;
    margin: 0 15px;
  }
}
