.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.main {
  position: relative;
  min-width: 300px;
  background-color: var(--background-container);
  border: 1px solid var(--border-container-color);
  border-radius: 20px;
  overflow: hidden;
  box-shadow:
    rgba(12, 20, 66, 0.02) 0px 4px 12px,
    rgba(12, 20, 66, 0.08) 0px 30px 80px,
    rgb(230, 233, 237) 0px 0px 0px 0px inset;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  gap: 20px;
  z-index: 1;
}

.headrel {
  position: relative;
}

.headabs {
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  color: var(--text-not-available);
  font-size: 18px;
  font-weight: 500;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
}

.body {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 60vh;
}

.body :global(.simplebar-track.simplebar-vertical) {
  background-color: rgba(255, 255, 255, 0.05);
  width: 8px;
  border-radius: 4px;
  top: 40px;
  bottom: 20px;
}

/* Estilo para la barra arrastrable (thumb) */
.body :global(.simplebar-scrollbar::before) {
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  opacity: 1;
  transition: background-color 0.2s ease;
}

/* Efecto al pasar el cursor sobre la barra */
.body :global(.simplebar-scrollbar:hover::before) {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Opcional: Ocultar/mostrar el riel al hacer hover */
.body :global(.simplebar-track.simplebar-vertical) {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.body:hover :global(.simplebar-track.simplebar-vertical) {
  opacity: 1;
}

.body :global(.simplebar-track.simplebar-horizontal) {
  display: none;
}

.body :global(.simplebar-track.simplebar-horizontal) {
  display: none;
}

.body :global(.simplebar-content) {
  height: 100%;
}

@media (max-width: 500px) {
  .main {
    width: 100%;
    margin: 0 15px;
  }
}
