.container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  height: fit-content;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  width: 100%;
}

.timeUnit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button:hover:not(:disabled) {
  background-color: var(--background-over-container);
}

.button:disabled {
  opacity: 0.5;
}

.input {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--text);
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* background-color: var(--background-over-container); */
  /* border: 1px solid var(--border-container-color); */
  /* border-radius: 10px; */
  -webkit-user-select: none;
}

.input:disabled {
  opacity: 0.5;
}

.separator {
  font-size: 20px;
  font-weight: 500;
  color: var(--text);
  user-select: none;
}

.icon {
  width: 10px;
  height: 10px;
}

@media only screen and (max-width: 850px) {
  .button:hover:not(:disabled) {
    background-color: transparent;
  }
}
