.configSection {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  user-select: none;
}
.configButton {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: rgb(235, 235, 235);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  padding: 2px;
}
.configButton:hover {
  background-color: #e6e6e6;
}

@media only screen and (max-width: 850px) {
  .configButton {
    background-color: rgb(225, 225, 225);
  }
  .configButton:hover {
    background-color: rgb(225, 225, 225);
  }
}
