.container {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  background-color: #ffffff;
  overflow: hidden;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0px 20px 0px 20px;
  font-size: 14px;
  font-family: inherit;
  color: #1c1c1c;
}
