.buttonContainer {
  position: relative;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.container p {
  font-size: 16px;
  font-weight: 400;
}

.iconContainer {
  position: relative;
  width: 20px;
  height: 20px;
}
