.container {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statusButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  background-color: #ffffff;
  padding: 0px 20px 0px 20px;
}
.input {
  width: 100%;
  border: none;
  font-family: "inter";
  color: #1c1c1c;
  outline: none;
}
