.container {
  width: 65%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.card {
  width: 100%;
  background-color: #ffffff;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
