.todoContainerPage {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.container {
  width: 80%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
.blurredReference {
  position: absolute;
  width: 100%;
  height: 260px;
  top: 0px;
  pointer-events: none;
  border-radius: 100%;
  opacity: 0.35;
  transform: translateY(-175%) translateZ(0px);
  transition: box-shadow 0.2s ease-in-out;
}
.todoContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 100%;
}
.referenceText {
  color: #1c1c1c;
  font-size: 23px;
  font-weight: 600;
}
.todoManagerContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
