.cardContainer {
  width: 100%;
  background-color: #fff;
  /* min-height: 50px; */
  height: fit-content;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
}
.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.deleteButton {
  display: flex;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
