.dropdownItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dropdownItemContainer p {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  color: var(--text);
}
