.accordion {
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow:
    0 4px 12px rgba(12, 20, 66, 0.02),
    0 30px 80px rgba(12, 20, 66, 0.08),
    inset 0 0 0 0 #e6e9ed;
}

.accordionItem {
  border-bottom: 1px solid #f3f3f3;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    padding 0.5s ease;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accordionHeader:hover {
  background-color: #eaeaea;
}

.accordionHeader h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgb(28, 28, 28);
  user-select: none;
}

.accordionContent {
  max-height: 0;
  padding: 0 15px;
  background-color: #fff;
  transition:
    max-height 0.5s ease,
    padding 0.5s ease;
  overflow: hidden;
}

.accordionItem.active .accordionContent {
  max-height: 500px;
  height: fit-content;
  padding: 15px 15px;
}

.accordionContent {
  font-size: 16px;
  color: rgb(28, 28, 28);
}
