.triggerButton {
  position: relative;
  border-radius: 5px;
  border: none;
  background-color: var(--background-over-container);
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  width: auto;
  aspect-ratio: 1 / 1;
  height: 30px;
  padding: 5px;
}

.triggerButton:hover {
  background-color: var(--background-over-container-hover) !important;
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  height: 20px;
}

.titleContainer p {
  font-size: 14px;
  color: var(--text-not-available);
}

.backButton {
  border: none;
  width: fit-content;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  background-color: transparent;
  border: none;
}

.notification {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #87189d;
  border: solid 3px var(--background-container);
  transition: opacity 0.3s ease-in-out;
}

.container {
  position: absolute;
  background-color: var(--background-container);
  border: 1px solid var(--border-container-color);
  width: fit-content;
  width: 256px;
  min-height: fit-content;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  gap: 0px;
  padding: 5px;
  z-index: 100;
  box-shadow:
    rgba(12, 20, 66, 0.02) 0px 4px 12px,
    rgba(12, 20, 66, 0.08) 0px 30px 80px,
    rgb(230, 233, 237) 0px 0px 0px 0px inset;
  user-select: none;
  -webkit-user-drag: none;
  overflow: hidden;
}

.optionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}

.hourPicker {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.hourButtonOmit {
  border: none;
  background-color: transparent;
  color: var(--text);
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  padding: 0px 10px;
  width: 100%;
}

.hourButtonOmit:hover {
  color: #87189d;
}

.supportButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.supportButtonsElement {
  background-color: var(--background-over-container);
  width: 100%;
  padding: 6px 13px;
  border-radius: 10px;
  border: solid 1px var(--border-container-color);
  font-size: 11px;
  cursor: pointer;
  color: var(--text);
  -webkit-tap-highlight-color: transparent;
  transition:
    border 0.2s ease-in-out,
    background-color 0.3s ease-in-out;
  text-wrap: nowrap;
}

.supportButtonsElement:hover {
  background-color: var(--background-over-container-hover);
}

.footerButtonsContainer {
  width: 100%;
  display: flex;
  gap: 10px;
}

.footerButton {
  border: none;
  font-size: 14px;
  width: 100%;
  padding: 7px 0px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.fb1 {
  background-color: var(--background-over-container);
  color: var(--text);
  border: 1px solid var(--border-container-color);
}

.fb1:hover {
  background-color: var(--background-over-container-hover);
}

.fb2 {
  background-color: #87189d;
  color: #fff;
  border: 1px solid transparent;
}
